---
layout: page
---

<div id="toc-top" class="row">
	<div class="full-width">
		<div class="table-container">
			<table class="pure-table pure-table-horizontal light-blue-var toc-table">
			    <thead>
			        <tr>
			            <th>Table Of Contents</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>
                    <a href="#intro">Introduction</a>
                  </td>
			        </tr>
			        <tr>
			            <td>
                    <a href="#installation">Installation</a>
                  </td>
			        </tr>
							<tr>
									<td>
										<a href="#file-structure">File structure</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#settings">Site Settings</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#logo">The Logo</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#navigation">The Navigation</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#posts">Posts</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#categories">Categories</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#tags">Tags</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#archives">Archives Page</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#contact-page">Contact Page</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#pattern-library">The Pattern Library</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#grid">The Grid</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#variations">Color Variations</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#modules">Modules</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#tables">Tables</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#css-scss">CSS / SCSS</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#js">Javascript</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#icons">Icons</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#sitemap">Sitemap</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#feeds">RSS Feeds</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#color_schemes">Color Schemes</a>
									</td>
							</tr>
							<tr>
									<td>
										<a href="#thank-you">Thank you</a>
									</td>
							</tr>

			    </tbody>
			</table>
		</div>
	</div>
</div>

<hr>

<div class="toc-content">
	{% include docs/intro.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
	      &uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/installation.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
	      &uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/file-structure.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
	      &uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/settings.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
	      &uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/logo.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
	      &uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/navigation.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
	      &uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/posts.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
	      &uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/categories.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
	      &uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/tags.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
	      &uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/archives.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
	      &uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/contact-page.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
	      &uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/pattern-library.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
	      &uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/grid.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
	      &uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/variations.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
	      &uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/modules.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
	      &uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/tables.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
				&uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/css_scss.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
				&uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/js.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
				&uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/icons.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
				&uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/sitemap.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
				&uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/feeds.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
				&uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/color_schemes.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
				&uarr; Return to top
			</a>
		</div>
	</div>
	<hr>

	{% include docs/thank_you.html %}
	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#toc-top">
				&uarr; Return to top
			</a>
		</div>
	</div>

</div>
