.site-header {

	background: darken($bg-color, 45%);
	color: white;
	overflow: hidden;

} // .site-header

// ---------- Logo
.site-logo {

	margin-top: 1.5em;
	text-align: center;
	text-shadow: 1px 1px 3px #888;
	//width: 100%;

	a {
		color: white;
	}

	.site-logo-image {
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: .5em;
	}

	.site-title-link {
		.site-title {
			font-size: 2em;
			transition: .2s all ease-out;
			&:hover {
				text-shadow: 2px 2px 3px black;
			}
		}
		&:hover {
			.runner {
				margin-left: 100%;
			}
		}
	}

	.site-slogan {
		font-style: italic;
		font-size: 1.5em;
		text-align: right;
		margin-top: 1em;
		margin-right: 1em;
	}

}

#yb_logo_svg {
	height: 10em;
	width: 100%;
	.yellow-rect,
	.blue-rect,
	.yellow-letter,
	.blue-letter {
		transition: all .6s ease-in-out;
	}
	&:hover {
		.yellow-rect {
			fill: $blue;
		}
		.yellow-letter {
			fill: yellow;
		}
		.blue-rect {
			fill: yellow;
		}
		.blue-letter {
			fill: $blue;
		}
	}
}
