.post {

	@include clearfix;
	@include post;

	.post-body, .post-content {
		a:hover {
			text-decoration: underline;
		}
	}

	.post-date {
		color: #666;
		margin: .5em 1em;
		font-style:italic;
		font-size: .8em;
	}

	.post-icon-image {
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: .5em;
		background-size: contain;
	}

	.post-attachments {
		border-top: 1px solid #eee;
		padding: .5em 0;
		.attachment-title {
			font-weight: bold;
		}
		.attachment {
			clear: both;
			margin: .5em 0 0 1em;
			&:hover {
				color: black;
			}
		}
	}

	.read-more {
		  font-weight: bold;
		  margin: 1em 0;
		  overflow: hidden;
		  display: inline-block;
		  text-decoration: none;
		  color: black;
		  .read-more-text {
			background: $bg-color;
			padding: 1em 2em 1em 1em;
			line-height: 2.5em;
			transition: all .2s ease-in;
		  }
		  .cross {
		  	background: yellow; 
			padding: .5em;
			font-size: 1.5em;
			margin-left: -1em;
			transition: all .2s ease-in;
		  }
		  &:hover {
		  	.read-more-text {
		  		background: $blue;
		  		color: white;
		  	}
		  	.cross {
		  		background: darken(yellow, 15%);
		  	}
		  }
	}

} // .post

.posts-nav {
	.go-to {
		color: yellow;
		font-weight: bold;
		background: $blue;
		margin-top: 1.5em;
		font-size: 2em;
		width: 2em;
		height: 2em;
		line-height: 1.8em;
		text-align: center;
		border-radius: 50%;
		&:hover {
			background: $dark-blue;
			text-decoration: none;
		}
	}
	.left-post {
		float: left;
	}
	.right-post {
		float: right;
	}
}